body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #23272B;
    color: white;
}
nav {
    /*Make tha navbar be on top of the contents*/
    z-index: 99999999 !important;
}
::selection {
    background-color: white;
    color: black;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
}
.title {
    display: inline-flex;
    background-color: var(--danger);
    padding: 5px;
    border-radius: 5px;
}
.text-purple {
    color: #7952B3 !important;
}
.text-orange {
    color: #E87A1E !important;
}